* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(35, 35, 35);
}

h1 {
    color: white;
    font-family: 'Cutive Mono', monospace;
}

#art {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    /* padding: 5px; */
    position: relative;
}

/* #color3 {
    visibility: hidden;
} */

div {
    margin: 5px;
    width: 33%;
    aspect-ratio: 1 / 1;
}

#title {
    background-color: antiquewhite;
    color: black;
    width: 20%;
    height: auto;
    aspect-ratio: 3/1;
    margin-left: 13%;
}

#museum {
    /* position: absolute; */
    /* aspect-ratio: 1 / 1; */
    /* top: 10%; */
    /* left: 30%; */
    text-align: center;
}

/* img {
} */

p {
    color: rgb(35, 35, 35);
}

#museum p {
    color: white;
}