body {
    background-color: rgb(32, 32, 32);
    width: 100vw;
    height:100vh;
}

#log {
    position: absolute;
    top: 100px;
    left: 100px;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

#ball {
    left: 30%;
    top: 30%;
    width: 50px;
    height: 50px;
    background-color: rgba(251, 124, 255, 0.301);
    border-radius: 50%;
    position: fixed;
}

li {
    color: antiquewhite;
}